* {
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, #abcdef, #af2334);
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  }

ul {
  list-style-type: none;
  width: auto;
  height: auto;
  margin: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0rem 0rem;
}

li {
  display: block;
  height: auto;
  padding: 0rem 0rem;
  margin: 0 0rem;
}

li > a {
  display: inline-block;
  height: auto;
  text-decoration: none;
  color: #112233;
  padding: 1rem 1rem;
  margin: 0 0rem;
  font-family: 'Comfortaa', cursive;
}

li a:hover {
  background-color: #334455;
  color: white;
}

#welcome-section {
  height: 100vh;
  width: auto;
  background: linear-gradient(45deg, #121234, #56789a);
  position: static;
  padding: 40vh 0 0 0;
  justify-items: center;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  font-size: 50px;
}

h2 {
  color: #bf2334;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

#projects {
  height: auto;
  background:  #57679a;
}

.project-tile {
  padding: 4.5rem 0 1rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  justify-items: center;
}

.project {
  width: auto;
  height: auto;
  padding: 1rem;
  justify-items: center;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 1rem;  /* Rounded border */
  padding: 5%; /* Some padding */
  width: 90%;
}

.project p {
  color: white;
  text-align: center;
  padding: 1rem;
  font-family: 'Comfortaa', cursive;
}

.project a {
  text-decoration: none;
}

img:hover {
  box-shadow: 0 0 2px 4px rgba(186, 140, 0, 0.5);
}

.project p:hover {
  color: rgba(186, 140, 0, 1);
}

#contacts {
  display: block;
  height: 100vh;
  background: #243056;
  padding: 40vh 0 0 0;
}

.links {
  display: block;
  text-align: center;
  padding: 10vh
}

.links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 24px;
  margin: 0 1rem;
}

.links a:hover {
  transform: scale(1.5);
  color: rgba(186, 140, 0, 1);
}

.link-text {
  display: contents;
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
}

.link-text::before {
  content: "  ";
}

.bottom-line {
  border: 2px solid #bf2334;
}

@media (max-width: 549px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1199px) and (min-width: 550px) {
  .gallery {
    grid-template-columns: repeat(2,1fr);
  }
}
